# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

If you completed the first term of this program, you will be familiar with the first part of this project, from the unsupervised learning project. The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

In [ ]:
#all other imports

In [16]:
#useful variables
addtional_customer_cols = ['PRODUCT_GROUP', 'CUSTOMER_GROUP', 'ONLINE_PURCHASE']

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

In [2]:
# load in the data
azdias = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_AZDIAS_052018.csv', sep=';')
customers = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_CUSTOMERS_052018.csv', sep=';')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#observe warning above - 5 columns have mixed types.  Then need to be identified and addressed

In [28]:
#check the correct rows and cols are loaded
#make a copy of the df
print("azdias: ",azdias.shape)
print("customers: ",customers.shape)

azdias_org = azdias
customers_org = customers

azdias:  (891221, 366)
customers:  (191652, 369)

In [4]:
azdias.head

<bound method NDFrame.head of            LNR  AGER_TYP  AKT_DAT_KL  ALTER_HH  ALTER_KIND1  ALTER_KIND2  \
0       910215        -1         NaN       NaN          NaN          NaN
1       910220        -1         9.0       0.0          NaN          NaN
2       910225        -1         9.0      17.0          NaN          NaN
3       910226         2         1.0      13.0          NaN          NaN
4       910241        -1         1.0      20.0          NaN          NaN
5       910244         3         1.0      10.0          NaN          NaN
6       910248        -1         9.0       0.0          NaN          NaN
7       910261        -1         1.0      14.0          NaN          NaN
8       645145        -1         9.0      16.0          NaN          NaN
9       645153        -1         5.0      17.0          NaN          NaN
10      645165         0         1.0      10.0          NaN          NaN
11      645169        -1         NaN       NaN          NaN          NaN
12      612558        -1         5.0      21.0          NaN          NaN
13      612561        -1         8.0      20.0          NaN          NaN
14      612565        -1         NaN       NaN          NaN          NaN
15      612569         1         9.0      11.0          NaN          NaN
16      612574        -1         1.0      19.0          NaN          NaN
17      612577        -1         NaN       NaN          NaN          NaN
18      612586        -1         9.0       0.0          NaN          NaN
19      612592        -1         9.0       0.0          NaN          NaN
20      612594        -1         7.0       0.0          NaN          NaN
21      612595        -1         9.0       0.0          NaN          NaN
22      612606        -1         8.0       0.0          NaN          NaN
23      612609        -1         6.0      16.0          NaN          NaN
24      703164        -1         NaN       NaN          NaN          NaN
25      703182        -1         1.0      20.0          NaN          NaN
26      714262        -1         1.0       0.0          NaN          NaN
27      714263        -1         6.0      16.0         17.0          NaN
28      714265        -1         9.0      15.0          NaN          NaN
29      714278         2         1.0      11.0          NaN          NaN
...        ...       ...         ...       ...          ...          ...
891191  380331         1         1.0      10.0          NaN          NaN
891192  706687        -1         9.0      20.0          NaN          NaN
891193  706689         2         1.0      13.0          NaN          NaN
891194  706692        -1         1.0      15.0          NaN          NaN
891195  706733         2         1.0       0.0          NaN          NaN
891196  706754        -1         1.0      17.0         10.0         15.0
891197  706768        -1         1.0      15.0          NaN          NaN
891198  714930        -1         9.0      20.0          NaN          NaN
891199  814493        -1         9.0       0.0          NaN          NaN
891200  814520        -1         9.0      18.0          NaN          NaN
891201  814532        -1         1.0      16.0          NaN          NaN
891202  814546        -1         1.0       0.0          NaN          NaN
891203  814549        -1         9.0       0.0          NaN          NaN
891204  814552        -1         1.0      16.0          NaN          NaN
891205  814588         1         1.0      10.0          NaN          NaN
891206  825703        -1         9.0      19.0          NaN          NaN
891207  825716         1         1.0       8.0          NaN          NaN
891208  825717        -1         1.0      15.0          NaN          NaN
891209  825726        -1         9.0       0.0          NaN          NaN
891210  825729        -1         1.0       0.0          NaN          NaN
891211  825731        -1         9.0      14.0          NaN          NaN
891212  825735        -1         9.0      15.0          NaN          NaN
891213  825742        -1         1.0      21.0         17.0          NaN
891214  825745        -1         9.0      17.0          NaN          NaN
891215  825758        -1         9.0       0.0          NaN          NaN
891216  825761        -1         5.0      17.0          NaN          NaN
891217  825771        -1         9.0      16.0          NaN          NaN
891218  825772        -1         1.0      17.0          NaN          NaN
891219  825776        -1         9.0       0.0         17.0          NaN
891220  825787        -1         1.0       0.0          NaN          NaN

        ALTER_KIND3  ALTER_KIND4  ALTERSKATEGORIE_FEIN  ANZ_HAUSHALTE_AKTIV  \
0               NaN          NaN                   NaN                  NaN
1               NaN          NaN                  21.0                 11.0
2               NaN          NaN                  17.0                 10.0
3               NaN          NaN                  13.0                  1.0
4               NaN          NaN                  14.0                  3.0
5               NaN          NaN                  10.0                  5.0
6               NaN          NaN                   NaN                  4.0
7               NaN          NaN                  14.0                  6.0
8               NaN          NaN                  16.0                  2.0
9               NaN          NaN                  17.0                  9.0
10              NaN          NaN                  10.0                  6.0
11              NaN          NaN                   NaN                  NaN
12              NaN          NaN                  14.0                  1.0
13              NaN          NaN                  20.0                  2.0
14              NaN          NaN                   NaN                  NaN
15              NaN          NaN                  11.0                  1.0
16              NaN          NaN                  19.0                  0.0
17              NaN          NaN                   NaN                  NaN
18              NaN          NaN                   NaN                  2.0
19              NaN          NaN                   NaN                  1.0
20              NaN          NaN                   NaN                  1.0
21              NaN          NaN                   NaN                  2.0
22              NaN          NaN                   NaN                 14.0
23              NaN          NaN                   NaN                  1.0
24              NaN          NaN                   NaN                  NaN
25              NaN          NaN                  20.0                  1.0
26              NaN          NaN                   NaN                  1.0
27              NaN          NaN                  16.0                  6.0
28              NaN          NaN                  15.0                  3.0
29              NaN          NaN                  11.0                  1.0
...             ...          ...                   ...                  ...
891191          NaN          NaN                  10.0                  3.0
891192          NaN          NaN                   NaN                  6.0
891193          NaN          NaN                  11.0                  6.0
891194          NaN          NaN                  15.0                  2.0
891195          NaN          NaN                  13.0                  9.0
891196          NaN          NaN                  17.0                  8.0
891197          NaN          NaN                  15.0                  3.0
891198          NaN          NaN                  20.0                  1.0
891199          NaN          NaN                   NaN                 13.0
891200          NaN          NaN                   NaN                 12.0
891201          NaN          NaN                  16.0                 11.0
891202          NaN          NaN                   NaN                 20.0
891203          NaN          NaN                   NaN                 19.0
891204          NaN          NaN                  16.0                  2.0
891205          NaN          NaN                  10.0                  4.0
891206          NaN          NaN                  18.0                  2.0
891207          NaN          NaN                   8.0                  2.0
891208          NaN          NaN                  14.0                  1.0
891209          NaN          NaN                  17.0                  4.0
891210          NaN          NaN                   NaN                 24.0
891211          NaN          NaN                  14.0                  6.0
891212          NaN          NaN                   NaN                 13.0
891213          NaN          NaN                  15.0                  4.0
891214          NaN          NaN                  17.0                  6.0
891215          NaN          NaN                   NaN                  8.0
891216          NaN          NaN                  17.0                 15.0
891217          NaN          NaN                  16.0                 11.0
891218          NaN          NaN                  17.0                  3.0
891219          NaN          NaN                  20.0                  7.0
891220          NaN          NaN                   NaN                 10.0

               ...           VHN  VK_DHT4A  VK_DISTANZ  VK_ZG11  \
0              ...           NaN       NaN         NaN      NaN
1              ...           4.0       8.0        11.0     10.0
2              ...           2.0       9.0         9.0      6.0
3              ...           0.0       7.0        10.0     11.0
4              ...           2.0       3.0         5.0      4.0
5              ...           2.0      10.0         7.0      4.0
6              ...           2.0       7.0        10.0     10.0
7              ...           2.0      10.0        12.0      9.0
8              ...           4.0       8.0        11.0      8.0
9              ...           4.0       1.0         1.0      1.0
10             ...           4.0       8.0        11.0     10.0
11             ...           NaN       NaN         NaN      NaN
12             ...           4.0       3.0         5.0      3.0
13             ...           NaN       3.0         6.0      8.0
14             ...           NaN       NaN         NaN      NaN
15             ...           4.0       6.0         6.0      3.0
16             ...           1.0       6.0         9.0      8.0
17             ...           NaN       NaN         NaN      NaN
18             ...           0.0       8.0        11.0     10.0
19             ...           4.0       8.0         9.0      6.0
20             ...           NaN       8.0        11.0     10.0
21             ...           2.0       9.0        11.0      8.0
22             ...           4.0       6.0         9.0      7.0
23             ...           2.0       3.0         6.0      8.0
24             ...           NaN       NaN         NaN      NaN
25             ...           2.0       6.0         9.0      7.0
26             ...           NaN       7.0         9.0      6.0
27             ...           3.0       4.0         7.0      5.0
28             ...           3.0       8.0        11.0      8.0
29             ...           0.0       9.0        12.0      9.0
...            ...           ...       ...         ...      ...
891191         ...           3.0       1.0         2.0      1.0
891192         ...           4.0       8.0        11.0      9.0
891193         ...           2.0       5.0         7.0      4.0
891194         ...           2.0       3.0         5.0      3.0
891195         ...           1.0       3.0         5.0      3.0
891196         ...           4.0       3.0         6.0      6.0
891197         ...           3.0       5.0         8.0      9.0
891198         ...           1.0       7.0         9.0      6.0
891199         ...           3.0       9.0        12.0      9.0
891200         ...           1.0       6.0         9.0      6.0
891201         ...           1.0       5.0         8.0      6.0
891202         ...           3.0       5.0         8.0     10.0
891203         ...           NaN       8.0        11.0      9.0
891204         ...           1.0       4.0         7.0      6.0
891205         ...           2.0       7.0         9.0      6.0
891206         ...           2.0      10.0        12.0      9.0
891207         ...           2.0       1.0         1.0      1.0
891208         ...           0.0       5.0         8.0     11.0
891209         ...           3.0       7.0        10.0      8.0
891210         ...           2.0       6.0         9.0      6.0
891211         ...           4.0       9.0        11.0      8.0
891212         ...           3.0      10.0        10.0      7.0
891213         ...           2.0       1.0         1.0      1.0
891214         ...           2.0       9.0        12.0     10.0
891215         ...           1.0       7.0        10.0     10.0
891216         ...           2.0       4.0         7.0      8.0
891217         ...           4.0       6.0         9.0      6.0
891218         ...           2.0       7.0        10.0      8.0
891219         ...           4.0       9.0         8.0      5.0
891220         ...           3.0       8.0        10.0      7.0

        W_KEIT_KIND_HH  WOHNDAUER_2008  WOHNLAGE ZABEOTYP ANREDE_KZ  \
0                  NaN             NaN       NaN        3         1
1                  3.0             9.0       4.0        5         2
2                  3.0             9.0       2.0        5         2
3                  NaN             9.0       7.0        3         2
4                  2.0             9.0       3.0        4         1
5                  6.0             9.0       7.0        4         2
6                  3.0             9.0       5.0        4         2
7                  5.0             9.0       1.0        1         1
8                  5.0             8.0       1.0        6         1
9                  4.0             3.0       7.0        4         2
10                 6.0             9.0       5.0        3         2
11                 NaN             NaN       NaN        3         1
12                 6.0             4.0       3.0        1         1
13                 6.0             3.0       5.0        5         2
14                 NaN             NaN       NaN        3         1
15                 6.0             4.0       3.0        3         2
16                 NaN             3.0       7.0        5         2
17                 NaN             NaN       NaN        3         1
18                 0.0             5.0       2.0        4         2
19                 5.0             6.0       1.0        2         1
20                 3.0             4.0       5.0        3         2
21                 5.0             9.0       4.0        4         1
22                 6.0             4.0       4.0        4         1
23                 3.0             2.0       3.0        4         1
24                 NaN             NaN       NaN        3         2
25                 NaN             3.0       7.0        5         1
26                 3.0             3.0       7.0        1         1
27                 1.0             3.0       3.0        4         1
28                 5.0             8.0       5.0        6         1
29                 6.0             8.0       3.0        1         2
...                ...             ...       ...      ...       ...
891191             6.0             8.0       7.0        3         2
891192             6.0             9.0       5.0        4         2
891193             4.0             9.0       5.0        4         1
891194             4.0             9.0       2.0        4         1
891195             3.0             9.0       2.0        3         2
891196             1.0             8.0       4.0        4         2
891197             4.0             9.0       2.0        4         2
891198             6.0             9.0       3.0        4         1
891199             5.0             9.0       4.0        4         1
891200             2.0             9.0       4.0        4         2
891201             4.0             9.0       3.0        4         1
891202             4.0             4.0       4.0        4         2
891203             NaN             6.0       1.0        3         2
891204             2.0             9.0       3.0        1         1
891205             6.0             9.0       5.0        3         1
891206             3.0             9.0       2.0        5         2
891207             6.0             9.0       4.0        3         2
891208             0.0             9.0       7.0        1         1
891209             3.0             9.0       3.0        5         2
891210             5.0             2.0       3.0        3         1
891211             6.0             9.0       3.0        6         1
891212             6.0             8.0       3.0        3         1
891213             1.0             9.0       4.0        4         2
891214             4.0             9.0       3.0        5         2
891215             3.0             9.0       3.0        4         2
891216             3.0             4.0       3.0        4         2
891217             6.0             9.0       5.0        6         1
891218             NaN             5.0       7.0        4         2
891219             1.0             9.0       5.0        5         1
891220             6.0             3.0       4.0        3         1

       ALTERSKATEGORIE_GROB
0                         2
1                         1
2                         3
3                         4
4                         3
5                         1
6                         2
7                         1
8                         3
9                         3
10                        3
11                        2
12                        3
13                        1
14                        3
15                        4
16                        1
17                        2
18                        2
19                        3
20                        2
21                        2
22                        1
23                        3
24                        3
25                        1
26                        3
27                        3
28                        3
29                        4
...                     ...
891191                    4
891192                    1
891193                    4
891194                    3
891195                    4
891196                    2
891197                    3
891198                    3
891199                    2
891200                    1
891201                    3
891202                    2
891203                    4
891204                    3
891205                    4
891206                    1
891207                    3
891208                    4
891209                    1
891210                    3
891211                    3
891212                    4
891213                    4
891214                    1
891215                    2
891216                    3
891217                    2
891218                    2
891219                    1
891220                    4

[891221 rows x 366 columns]>

In [5]:
customers.head

<bound method NDFrame.head of            LNR  AGER_TYP  AKT_DAT_KL  ALTER_HH  ALTER_KIND1  ALTER_KIND2  \
0         9626         2         1.0      10.0          NaN          NaN
1         9628        -1         9.0      11.0          NaN          NaN
2       143872        -1         1.0       6.0          NaN          NaN
3       143873         1         1.0       8.0          NaN          NaN
4       143874        -1         1.0      20.0          NaN          NaN
5       143888         1         1.0      11.0          NaN          NaN
6       143904         2         1.0      10.0          NaN          NaN
7       143910         1         1.0      10.0          NaN          NaN
8       102160         2         3.0       5.0          NaN          NaN
9       102173         1         1.0      20.0          NaN          NaN
10      102184        -1         7.0      14.0          NaN          NaN
11      102185         1         1.0      10.0          NaN          NaN
12      102227        -1         1.0      21.0          NaN          NaN
13      102230        -1         1.0      15.0          8.0          NaN
14      102239         2         1.0       6.0          NaN          NaN
15      110278         2         5.0      17.0          NaN          NaN
16      110279         1         1.0       0.0          NaN          NaN
17      110305        -1         7.0      20.0          NaN          NaN
18      110306        -1         1.0      17.0          NaN          NaN
19      110322        -1         1.0       0.0          NaN          NaN
20      110327        -1         1.0       0.0          NaN          NaN
21      110328         2         7.0      11.0          NaN          NaN
22      110336         2         1.0       8.0          NaN          NaN
23      110344        -1         7.0      14.0          NaN          NaN
24      110356         2         1.0      19.0          NaN          NaN
25      110357        -1         1.0      21.0         12.0          NaN
26        5538         1         1.0       9.0          NaN          NaN
27        5545        -1         2.0      19.0          NaN          NaN
28        5573         2         1.0       8.0          NaN          NaN
29        5574         0         1.0      12.0          NaN          NaN
...        ...       ...         ...       ...          ...          ...
191622  141330         2         1.0       8.0          NaN          NaN
191623  141335         1         1.0      11.0          NaN          NaN
191624  141336         1         1.0      13.0          NaN          NaN
191625  153439         2         1.0      10.0          NaN          NaN
191626  153440        -1         1.0      14.0          NaN          NaN
191627  153447         3         1.0       9.0          NaN          NaN
191628  153455         1         1.0      12.0          NaN          NaN
191629  153475         2         9.0       8.0          NaN          NaN
191630  153477         2         1.0      10.0          NaN          NaN
191631  153481         2         1.0       9.0          NaN          NaN
191632  153525         0         1.0      18.0          NaN          NaN
191633  153551         1         1.0      20.0          NaN          NaN
191634   55811         2         1.0      18.0          NaN          NaN
191635   55815         2         1.0      14.0          NaN          NaN
191636   55817         2         1.0       8.0          NaN          NaN
191637   55823        -1         1.0      21.0          NaN          NaN
191638   55832         1         1.0      12.0          NaN          NaN
191639   55834        -1         3.0      15.0          NaN          NaN
191640   55835         3         1.0      19.0          NaN          NaN
191641   55838         1         1.0       9.0          NaN          NaN
191642  154464         2         1.0       9.0          NaN          NaN
191643  154503         2         1.0      18.0          NaN          NaN
191644  154513         2         2.0      13.0          NaN          NaN
191645  154554         2         1.0      21.0          NaN          NaN
191646  154559         3         1.0      13.0          NaN          NaN
191647  154561         1         1.0       9.0          NaN          NaN
191648  154563        -1         2.0       0.0          NaN          NaN
191649  148813         2         1.0      15.0          NaN          NaN
191650  148852         3         1.0      13.0          NaN          NaN
191651  148883         3         1.0       0.0          NaN          NaN

        ALTER_KIND3  ALTER_KIND4  ALTERSKATEGORIE_FEIN  ANZ_HAUSHALTE_AKTIV  \
0               NaN          NaN                  10.0                  1.0
1               NaN          NaN                   NaN                  NaN
2               NaN          NaN                   0.0                  1.0
3               NaN          NaN                   8.0                  0.0
4               NaN          NaN                  14.0                  7.0
5               NaN          NaN                  10.0                  1.0
6               NaN          NaN                  10.0                  1.0
7               NaN          NaN                   9.0                  1.0
8               NaN          NaN                   4.0                 74.0
9               NaN          NaN                  13.0                  1.0
10              NaN          NaN                  14.0                  NaN
11              NaN          NaN                  10.0                  1.0
12              NaN          NaN                  14.0                  1.0
13              NaN          NaN                  14.0                  1.0
14              NaN          NaN                   6.0                  9.0
15              NaN          NaN                  12.0                  1.0
16              NaN          NaN                  10.0                  1.0
17              NaN          NaN                  19.0                  1.0
18              NaN          NaN                  17.0                 17.0
19              NaN          NaN                  14.0                 12.0
20              NaN          NaN                  15.0                  1.0
21              NaN          NaN                  11.0                 29.0
22              NaN          NaN                   8.0                  2.0
23              NaN          NaN                  14.0                 45.0
24              NaN          NaN                  10.0                  2.0
25              NaN          NaN                  15.0                  1.0
26              NaN          NaN                   9.0                  2.0
27              NaN          NaN                   NaN                  1.0
28              NaN          NaN                   8.0                 10.0
29              NaN          NaN                  12.0                 14.0
...             ...          ...                   ...                  ...
191622          NaN          NaN                   8.0                  2.0
191623          NaN          NaN                  11.0                  1.0
191624          NaN          NaN                  13.0                  1.0
191625          NaN          NaN                  10.0                  1.0
191626          NaN          NaN                  14.0                  7.0
191627          NaN          NaN                   9.0                 11.0
191628          NaN          NaN                  12.0                  1.0
191629          NaN          NaN                   8.0                 97.0
191630          NaN          NaN                  10.0                  1.0
191631          NaN          NaN                   9.0                 24.0
191632          NaN          NaN                  13.0                  3.0
191633          NaN          NaN                  12.0                  1.0
191634          NaN          NaN                  12.0                  2.0
191635          NaN          NaN                   8.0                  1.0
191636          NaN          NaN                   7.0                  1.0
191637          NaN          NaN                  14.0                  1.0
191638          NaN          NaN                  11.0                 20.0
191639          NaN          NaN                  15.0                  2.0
191640          NaN          NaN                  13.0                  3.0
191641          NaN          NaN                   9.0                  1.0
191642          NaN          NaN                   9.0                 32.0
191643          NaN          NaN                  11.0                  1.0
191644          NaN          NaN                  13.0                  7.0
191645          NaN          NaN                  13.0                  2.0
191646          NaN          NaN                  13.0                  5.0
191647          NaN          NaN                   9.0                  1.0
191648          NaN          NaN                   0.0                  0.0
191649          NaN          NaN                  10.0                  1.0
191650          NaN          NaN                  13.0                  4.0
191651          NaN          NaN                   9.0                  1.0

               ...           VK_ZG11  W_KEIT_KIND_HH  WOHNDAUER_2008  \
0              ...               2.0             6.0             9.0
1              ...               3.0             0.0             9.0
2              ...              11.0             6.0             9.0
3              ...               2.0             NaN             9.0
4              ...               4.0             2.0             9.0
5              ...               1.0             6.0             9.0
6              ...               2.0             6.0             9.0
7              ...               1.0             6.0             9.0
8              ...               9.0             6.0             3.0
9              ...               4.0             2.0             9.0
10             ...               7.0             0.0             3.0
11             ...               2.0             6.0             3.0
12             ...               5.0             4.0             9.0
13             ...               5.0             1.0             9.0
14             ...               3.0             6.0             7.0
15             ...               2.0             2.0             9.0
16             ...               1.0             1.0             9.0
17             ...               1.0             2.0             9.0
18             ...               6.0             5.0             9.0
19             ...               6.0             6.0             8.0
20             ...               2.0             6.0             9.0
21             ...               7.0             6.0             5.0
22             ...               5.0             6.0             9.0
23             ...               7.0             5.0             7.0
24             ...               1.0             2.0             9.0
25             ...               4.0             1.0             9.0
26             ...               4.0             4.0             9.0
27             ...               1.0             2.0             9.0
28             ...               1.0             6.0             9.0
29             ...               3.0             6.0             9.0
...            ...               ...             ...             ...
191622         ...               1.0             6.0             9.0
191623         ...               2.0             4.0             9.0
191624         ...               2.0             5.0             9.0
191625         ...               3.0             6.0             9.0
191626         ...               7.0             4.0             4.0
191627         ...               1.0             6.0             9.0
191628         ...               3.0             6.0             9.0
191629         ...               3.0             3.0             4.0
191630         ...               3.0             6.0             8.0
191631         ...               1.0             NaN             9.0
191632         ...               3.0             2.0             9.0
191633         ...               2.0             3.0             9.0
191634         ...               1.0             2.0             9.0
191635         ...               3.0             6.0             9.0
191636         ...               1.0             6.0             9.0
191637         ...               2.0             4.0             9.0
191638         ...               4.0             6.0             9.0
191639         ...               3.0             3.0             7.0
191640         ...               2.0             5.0             9.0
191641         ...               3.0             6.0             9.0
191642         ...               1.0             6.0             9.0
191643         ...               1.0             2.0             9.0
191644         ...               2.0             4.0             9.0
191645         ...               3.0             2.0             9.0
191646         ...               1.0             6.0             9.0
191647         ...               5.0             6.0             9.0
191648         ...               4.0             NaN             9.0
191649         ...               5.0             3.0             9.0
191650         ...               1.0             4.0             9.0
191651         ...               1.0             3.0             9.0

        WOHNLAGE  ZABEOTYP      PRODUCT_GROUP  CUSTOMER_GROUP ONLINE_PURCHASE  \
0            7.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               0
1            NaN         3               FOOD    SINGLE_BUYER               0
2            2.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               0
3            7.0         1           COSMETIC     MULTI_BUYER               0
4            3.0         1               FOOD     MULTI_BUYER               0
5            1.0         2  COSMETIC_AND_FOOD     MULTI_BUYER               0
6            7.0         1  COSMETIC_AND_FOOD     MULTI_BUYER               0
7            3.0         3               FOOD    SINGLE_BUYER               0
8            4.0         3           COSMETIC     MULTI_BUYER               0
9            5.0         1           COSMETIC     MULTI_BUYER               0
10           NaN         3           COSMETIC     MULTI_BUYER               1
11           4.0         1               FOOD    SINGLE_BUYER               0
12           7.0         1               FOOD    SINGLE_BUYER               0
13           4.0         4               FOOD    SINGLE_BUYER               1
14           3.0         4  COSMETIC_AND_FOOD     MULTI_BUYER               0
15           2.0         1  COSMETIC_AND_FOOD     MULTI_BUYER               1
16           2.0         1           COSMETIC    SINGLE_BUYER               0
17           2.0         1           COSMETIC     MULTI_BUYER               0
18           3.0         4           COSMETIC    SINGLE_BUYER               1
19           3.0         3               FOOD    SINGLE_BUYER               0
20           2.0         1               FOOD    SINGLE_BUYER               0
21           7.0         4               FOOD    SINGLE_BUYER               0
22           7.0         3               FOOD    SINGLE_BUYER               0
23           4.0         6           COSMETIC    SINGLE_BUYER               1
24           3.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               0
25           7.0         1  COSMETIC_AND_FOOD     MULTI_BUYER               0
26           7.0         3           COSMETIC     MULTI_BUYER               0
27           1.0         1           COSMETIC    SINGLE_BUYER               0
28           5.0         3           COSMETIC     MULTI_BUYER               0
29           3.0         3               FOOD    SINGLE_BUYER               0
...          ...       ...                ...             ...             ...
191622       7.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               0
191623       1.0         1  COSMETIC_AND_FOOD     MULTI_BUYER               0
191624       1.0         1           COSMETIC     MULTI_BUYER               0
191625       3.0         3               FOOD    SINGLE_BUYER               0
191626       2.0         4  COSMETIC_AND_FOOD     MULTI_BUYER               0
191627       4.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               0
191628       1.0         3           COSMETIC    SINGLE_BUYER               0
191629       2.0         3           COSMETIC     MULTI_BUYER               0
191630       3.0         3           COSMETIC    SINGLE_BUYER               0
191631       3.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               0
191632       7.0         1               FOOD    SINGLE_BUYER               0
191633       3.0         1               FOOD    SINGLE_BUYER               0
191634       7.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               1
191635       3.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               0
191636       1.0         2  COSMETIC_AND_FOOD     MULTI_BUYER               0
191637       3.0         1               FOOD    SINGLE_BUYER               0
191638       3.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               0
191639       5.0         1  COSMETIC_AND_FOOD     MULTI_BUYER               0
191640       2.0         1           COSMETIC    SINGLE_BUYER               0
191641       7.0         1  COSMETIC_AND_FOOD     MULTI_BUYER               0
191642       5.0         3               FOOD    SINGLE_BUYER               0
191643       1.0         1  COSMETIC_AND_FOOD     MULTI_BUYER               0
191644       3.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               1
191645       4.0         6  COSMETIC_AND_FOOD     MULTI_BUYER               1
191646       4.0         3               FOOD    SINGLE_BUYER               0
191647       1.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               0
191648       3.0         3           COSMETIC    SINGLE_BUYER               0
191649       3.0         3  COSMETIC_AND_FOOD     MULTI_BUYER               0
191650       2.0         3               FOOD    SINGLE_BUYER               0
191651       7.0         1  COSMETIC_AND_FOOD     MULTI_BUYER               0

       ANREDE_KZ ALTERSKATEGORIE_GROB
0              1                    4
1              1                    4
2              2                    4
3              1                    4
4              1                    3
5              1                    3
6              1                    4
7              1                    4
8              2                    4
9              1                    3
10             2                    3
11             1                    4
12             1                    4
13             1                    3
14             2                    4
15             1                    3
16             1                    4
17             1                    4
18             1                    2
19             2                    4
20             1                    4
21             1                    4
22             2                    1
23             1                    3
24             2                    4
25             2                    3
26             2                    4
27             1                    3
28             2                    4
29             2                    3
...          ...                  ...
191622         1                    4
191623         1                    4
191624         1                    4
191625         2                    4
191626         1                    2
191627         2                    3
191628         1                    4
191629         2                    4
191630         1                    3
191631         2                    4

In [6]:
#load the values and attributes
dias_values = pd.read_excel('DIAS Attributes - Values 2017.xlsx', header =1)
dias_attribs = pd.read_excel('DIAS Information Levels - Attributes 2017.xlsx', header = 1)

In [7]:
dias_values.head

<bound method NDFrame.head of                 Attribute                                        Description  \
NaN              AGER_TYP                                 best-ager typology
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN  ALTERSKATEGORIE_GROB       age classification through prename analysis
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN              ALTER_HH                      main age within the household
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
..                    ...                                                ...
NaN                   NaN                                                NaN
NaN              WOHNLAGE                                  residential-area
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN    WACHSTUMSGEBIET_NB  growing area (population growth in the last 5 ...
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN        W_KEIT_KIND_HH    likelihood of a child present in this household
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN              ZABEOTYP                   typification of energy consumers
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN
NaN                   NaN                                                NaN

     Value                                 Meaning
NaN     -1                                 unknown
NaN      0              no classification possible
NaN      1                         passive elderly
NaN      2                        cultural elderly
NaN      3               experience-driven elderly
NaN  -1, 0                                 unknown
NaN      1                              < 30 years
NaN      2                           30 - 45 years
NaN      3                           46 - 60 years
NaN      4                              > 60 years
NaN      9                   uniformly distributed
NaN      0        unknown / no main age detectable
NaN      1               01.01.1895 bis 31.12.1899
NaN      2               01.01.1900 bis 31.12.1904
NaN      3               01.01.1905 bis 31.12.1909
NaN      4               01.01.1910 bis 31.12.1914
NaN      5               01.01.1915 bis 31.12.1919
NaN      6               01.01.1920 bis 31.12.1924
NaN      7               01.01.1925 bis 31.12.1929
NaN      8               01.01.1930 bis 31.12.1934
NaN      9               01.01.1935 bis 31.12.1939
NaN     10               01.01.1940 bis 31.12.1944
NaN     11               01.01.1945 bis 31.12.1949
NaN     12               01.01.1950 bis 31.12.1954
NaN     13               01.01.1955 bis 31.12.1959
NaN     14               01.01.1960 bis 31.12.1964
NaN     15               01.01.1965 bis 31.12.1969
NaN     16               01.01.1970 bis 31.12.1974
NaN     17               01.01.1975 bis 31.12.1979
NaN     18               01.01.1980 bis 31.12.1984
..     ...                                     ...
NaN      9  length of residence more than 10 years
NaN     -1                                 unknown
NaN      0                     no score calculated
NaN      1                 very good neighbourhood
NaN      2                      good neighbourhood
NaN      3                   average neighbourhood
NaN      4                      poor neighbourhood
NaN      5                 very poor neighbourhood
NaN      7                     rural neighbourhood
NaN      8     new building in rural neighbourhood
NaN  -1, 0                                 unknown
NaN      1                        very high influx
NaN      2                             high influx
NaN      3                           middle influx
NaN      4                              low influx
NaN      5                        development area
NaN  -1, 0                                 unknown
NaN      1                             most likely
NaN      2                             very likely
NaN      3                                  likely
NaN      4                                 average
NaN      5                                unlikely
NaN      6                           very unlikely
NaN  -1, 9                                 unknown
NaN      1                                   green
NaN      2                                   smart
NaN      3                           fair supplied
NaN      4                            price driven
NaN      5                     seeking orientation
NaN      6                             indifferent

[2258 rows x 4 columns]>

In [8]:
dias_attribs.head

<bound method NDFrame.head of     Information level                    Attribute  \
NaN               NaN                     AGER_TYP
NaN            Person         ALTERSKATEGORIE_GROB
NaN               NaN                    ANREDE_KZ
NaN               NaN                CJT_GESAMTTYP
NaN               NaN            FINANZ_MINIMALIST
NaN               NaN                FINANZ_SPARER
NaN               NaN             FINANZ_VORSORGER
NaN               NaN               FINANZ_ANLEGER
NaN               NaN        FINANZ_UNAUFFAELLIGER
NaN               NaN             FINANZ_HAUSBAUER
NaN               NaN                    FINANZTYP
NaN               NaN                  GEBURTSJAHR
NaN               NaN              GFK_URLAUBERTYP
NaN               NaN             GREEN_AVANTGARDE
NaN               NaN                   HEALTH_TYP
NaN               NaN          LP_LEBENSPHASE_FEIN
NaN               NaN          LP_LEBENSPHASE_GROB
NaN               NaN              LP_FAMILIE_FEIN
NaN               NaN              LP_FAMILIE_GROB
NaN               NaN               LP_STATUS_FEIN
NaN               NaN               LP_STATUS_GROB
NaN               NaN             NATIONALITAET_KZ
NaN               NaN        PRAEGENDE_JUGENDJAHRE
NaN               NaN               RETOURTYP_BK_S
NaN               NaN                    SEMIO_SOZ
NaN               NaN                    SEMIO_FAM
NaN               NaN                    SEMIO_REL
NaN               NaN                    SEMIO_MAT
NaN               NaN                   SEMIO_VERT
NaN               NaN                   SEMIO_LUST
..                ...                          ...
NaN               NaN  KBA13_SEG_OBEREMITTELKLASSE
NaN               NaN         KBA13_SEG_OBERKLASSE
NaN               NaN           KBA13_SEG_SONSTIGE
NaN               NaN         KBA13_SEG_SPORTWAGEN
NaN               NaN          KBA13_SEG_UTILITIES
NaN               NaN                KBA13_SEG_VAN
NaN               NaN         KBA13_SEG_WOHNMOBILE
NaN               NaN                KBA13_SITZE_4
NaN               NaN                KBA13_SITZE_5
NaN               NaN                KBA13_SITZE_6
NaN               NaN                 KBA13_TOYOTA
NaN               NaN                 KBA13_VORB_0
NaN               NaN                 KBA13_VORB_1
NaN               NaN               KBA13_VORB_1_2
NaN               NaN                 KBA13_VORB_2
NaN               NaN                 KBA13_VORB_3
NaN               NaN                     KBA13_VW
NaN               NaN                         PLZ8
NaN               NaN                   PLZ8_ANTG1
NaN               NaN                   PLZ8_ANTG2
NaN               NaN                   PLZ8_ANTG3
NaN               NaN                   PLZ8_ANTG4
NaN               NaN                  PLZ8_BAUMAX
NaN               NaN                     PLZ8_HHZ
NaN               NaN                     PLZ8_GBZ
NaN         Community                       ARBEIT
NaN               NaN                    EINWOHNER
NaN               NaN                          GKZ
NaN               NaN                  ORTSGR_KLS9
NaN               NaN                     RELAT_AB

                                           Description  \
NaN                                 best-ager typology
NaN                      age through prename analysis
NaN                                             gender
NaN  Customer-Journey-Typology relating to the pref...
NaN         financial typology: low financial interest
NaN                    financial typology: money saver
NaN                    financial typology: be prepared
NaN                       financial typology: investor
NaN                   financial typology: unremarkable
NaN    financial typology: main focus is the own house
NaN       best descirbing financial type for the peron
NaN                                      year of birth
NaN                                    vacation habits
NaN  the environmental sustainability is the domina...
NaN                                    health typology
NaN                                     lifestage fine
NaN                                    lifestage rough
NaN                                   family type fine
NaN                                  family type rough
NaN                                social status fine
NaN                                social status rough
NaN                                       nationaltity
NaN  dominating movement in the person's youth (ava...
NaN                                        return type
NaN  affinity indicating in what way the person is ...
NaN  affinity indicating in what way the person is ...
NaN  affinity indicating in what way the person is ...
NaN  affinity indicating in what way the person is ...
NaN  affinity indicating in what way the person is ...
NaN  affinity indicating in what way the person is ...
..                                                 ...
NaN  share of upper middle class cars and upper cla...
NaN  share of upper class cars (BMW 7er etc.) in th...
NaN                share of other cars within the PLZ8
NaN                share of sportscars within the PLZ8
NaN                 share of MUVs/SUVs within the PLZ8
NaN                      share of vans within the PLZ8
NaN               share of roadmobiles within the PLZ8
NaN  number of cars with less than 5 seats in the PLZ8
NaN            number of cars with 5 seats in the PLZ8
NaN  number of cars with more than 5 seats in the PLZ8
NaN                    share of TOYOTA within the PLZ8
NaN              share of cars with no preowner - PLZ8
NaN               share of cars with 1 preowner - PLZ8
NaN          share of cars with 1 or 2 preowner - PLZ8
NaN               share of cars with 2 preowner - PLZ8
NaN     share of cars with more than 2 preowner - PLZ8
NaN                share of VOLKSWAGEN within the PLZ8
NaN  sub-postcode (about 8 PLZ8 make up one PLZ) an...
NaN            number of 1-2 family houses in the PLZ8
NaN            number of 3-5 family houses in the PLZ8
NaN           number of 6-10 family houses in the PLZ8
NaN            number of >10 family houses in the PLZ8
NaN          most common building-type within the PLZ8
NaN               number of households within the PLZ8
NaN                number of buildings within the PLZ8
NaN        share of unemployed person in the community
NaN                                        inhabitants
NaN                        standardized community-code
NaN                   classified number of inhabitants
NaN  share of unemployed in relation to the county ...

                                      Additional notes
NaN  in cooperation with Kantar TNS; the informatio...
NaN  modelled on millions of first name-age-referen...
NaN                                                NaN
NaN  relating to the preferred information, marketi...
NaN  Gfk-Typology based on a representative househo...
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN  own typology based on modelled on different AZ...
NaN  in cooperation with Kantar TNS; the informatio...
NaN                 modelled on different AZ DIAS data
NaN                 modelled on different AZ DIAS data
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                based on analysis of the first name
NaN   own typology modelled on different AZ DIAS data
NaN                                                NaN
NaN  attributes in cooperation with Kantar TNS; the...
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
..                                                 ...
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN
NaN                                                NaN

[313 rows x 4 columns]>

In [13]:
#find the cols with mixed data types
def findColumnsWithMixedDataTypes(df):
    '''
    '''
    columnsWithMixedDataTypes = []
    for col in df.columns:
        weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis=1)
        if len(df[weird]) > 0:
            #print(col)
            columnsWithMixedDataTypes.append(col)
    
    return columnsWithMixedDataTypes

In [14]:
azdias_mixeddatatypes_cols = findColumnsWithMixedDataTypes(azdias)
print(azdias_mixeddatatypes_cols)

['CAMEO_DEU_2015', 'CAMEO_DEUG_2015', 'CAMEO_INTL_2015', 'D19_LETZTER_KAUF_BRANCHE', 'EINGEFUEGT_AM', 'OST_WEST_KZ']

In [15]:
customers_mixeddatatypes_cols = findColumnsWithMixedDataTypes(customers)
print(customers_mixeddatatypes_cols)

['CAMEO_DEU_2015', 'CAMEO_DEUG_2015', 'CAMEO_INTL_2015', 'D19_LETZTER_KAUF_BRANCHE', 'EINGEFUEGT_AM', 'OST_WEST_KZ']

In [ ]:
#Conclusion: the same columns have mixed types in both files => consistency

In [17]:
#look at the distinct values in the these columns

#Error message on loading: DtypeWarning: Columns (18,19) have mixed types
#=> these are the only two we need to worry about
#first check do they appear in the lists above
azdias_mixed_colnames = azdias.columns[18:20]
customers_mixed_colnames = customers.columns[18:20]
print (azdias_mixed_colnames)
print (customers_mixed_colnames)

Index(['CAMEO_DEUG_2015', 'CAMEO_INTL_2015'], dtype='object')
Index(['CAMEO_DEUG_2015', 'CAMEO_INTL_2015'], dtype='object')

In [39]:
#yes, cols do appear in the list above
mixed_dtype_colnames = azdias_mixed_colnames
#check unique values in those columns
pd.value_counts(azdias.CAMEO_DEUG_2015)

 8    134441
 9    108177
 6    105874
 4    103912
-1     99352
 3     86779
 2     83231
 7     77933
 5     55310
 1     36212
Name: CAMEO_DEUG_2015, dtype: int64

In [25]:
pd.value_counts(azdias.CAMEO_INTL_2015)

51      77576
51.0    56118
41      53459
24      52882
41.0    38877
24.0    38276
14      36524
43      32730
14.0    26360
54      26207
43.0    23942
25      22837
54.0    19184
22      19173
25.0    16791
23      15653
13      15272
45      15206
22.0    13982
55      13842
52      11836
23.0    11097
13.0    11064
31      11041
45.0    10926
34      10737
55.0    10113
15       9832
52.0     8706
44       8543
31.0     7983
34.0     7787
12       7645
15.0     7142
44.0     6277
35       6090
32       6067
33       5833
12.0     5604
32.0     4287
35.0     4266
33.0     4102
XX        373
Name: CAMEO_INTL_2015, dtype: int64

In [27]:
pd.value_counts(customers.CAMEO_DEUG_2015)

2      17574
4      16458
6      14008
3      13585
1      12498
8       9716
5       8624
7       7878
2.0     5910
4.0     5606
3.0     4805
9       4731
6.0     4709
1.0     4280
8.0     3333
5.0     3042
7.0     2680
9.0     1661
X        126
Name: CAMEO_DEUG_2015, dtype: int64

In [26]:
pd.value_counts(customers.CAMEO_INTL_2015)

14      14708
24      13301
41       8461
43       7158
25       6900
15       6845
51       5987
13       5728
22       5566
14.0     4939
24.0     4504
23       4276
34       3945
45       3936
54       3537
41.0     2859
55       2794
12       2791
43.0     2476
25.0     2472
15.0     2372
44       2144
51.0     2126
31       2050
13.0     1955
22.0     1941
35       1741
23.0     1494
34.0     1423
45.0     1352
54.0     1258
32       1256
33       1178
12.0      924
55.0      920
52        770
44.0      688
31.0      681
35.0      553
32.0      440
33.0      396
52.0      253
XX        126
Name: CAMEO_INTL_2015, dtype: int64

In [37]:
#method to update these two columns
#NB CAMEO_INTL_2015 is CAMEO_DEINTL_2015 in DIAS Attribute Values 2017 s/s 
#CAMEO_INTL_2015: object type can be set to -1
#CAMEO_DEUG_2015: object type can be set to -1
#also will cast ALL values to ints

def updateMixedDataTypeColumns(df, list_of_cols):
    '''
    '''
    #first replace the object types with -1
    for col in list_of_cols:
        df[col].replace({"X": -1, "XX": -1}, inplace=True)
        #set Nan to -1
        df[col] = df[col].fillna(-1)
        #cast everything to int
        df[col] = df[col].astype(int)
    #return new df

In [38]:
updateMixedDataTypeColumns(azdias, mixed_dtype_colnames)

In [9]:
#look at the numeric attributes #1
num_attributes = customers.select_dtypes(exclude='object')
num_attributes.describe()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
count,191652.000000,191652.000000,145056.000000,145056.000000,11766.000000,5100.000000,1275.000000,236.000000,139810.000000,141725.000000,...,143781.000000,143781.000000,143781.000000,137910.000000,145056.000000,141725.000000,191652.000000,191652.000000,191652.000000,191652.000000
mean,95826.500000,0.344359,1.747525,11.352009,12.337243,13.672353,14.647059,15.377119,10.331579,4.965863,...,4.374417,4.564769,3.168868,4.152716,8.646371,3.723133,2.576806,0.090247,1.376432,3.060907
std,55325.311233,1.391672,1.966334,6.275026,4.006050,3.243335,2.753787,2.307653,4.134828,14.309694,...,2.924355,2.887035,2.233516,1.974375,1.154001,2.095540,1.168486,0.286536,0.484492,1.086254
min,1.000000,-1.000000,1.000000,0.000000,2.000000,2.000000,5.000000,8.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
25%,47913.750000,-1.000000,1.000000,8.000000,9.000000,11.000000,13.000000,14.000000,9.000000,1.000000,...,2.000000,2.000000,1.000000,2.000000,9.000000,2.000000,1.000000,0.000000,1.000000,3.000000
50%,95826.500000,0.000000,1.000000,11.000000,13.000000,14.000000,15.000000,16.000000,10.000000,1.000000,...,4.000000,4.000000,3.000000,5.000000,9.000000,3.000000,3.000000,0.000000,1.000000,3.000000
75%,143739.250000,2.000000,1.000000,16.000000,16.000000,16.000000,17.000000,17.000000,13.000000,4.000000,...,7.000000,7.000000,4.000000,6.000000,9.000000,5.000000,3.000000,0.000000,2.000000,4.000000
max,191652.000000,3.000000,9.000000,21.000000,18.000000,18.000000,18.000000,18.000000,25.000000,523.000000,...,11.000000,13.000000,11.000000,6.000000,9.000000,8.000000,6.000000,1.000000,2.000000,9.000000

In [15]:
#look at the numeric attributes #2
num_attributes.isna().sum().sort_values(ascending=False).head()

ALTER_KIND4     191416
ALTER_KIND3     190377
ALTER_KIND2     186552
ALTER_KIND1     179886
KK_KUNDENTYP    111937
dtype: int64

In [16]:
#look at non-numeric attributes #1
non_num_attributes = customers.select_dtypes(include='object')
non_num_attributes.describe()

,CAMEO_DEU_2015,CAMEO_DEUG_2015,CAMEO_INTL_2015,D19_LETZTER_KAUF_BRANCHE,EINGEFUEGT_AM,OST_WEST_KZ,PRODUCT_GROUP,CUSTOMER_GROUP
count,141224,141224,141224,143955,141725,141725,191652,191652
unique,45,19,43,35,3034,2,3,2
top,2D,2,14,D19_UNBEKANNT,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
freq,11208,17574,14708,31910,64744,130382,100860,132238

In [17]:
#look at non-numeric attributes #2
non_num_attributes.head
#non_num_attributes.describe()

<bound method NDFrame.head of        CAMEO_DEU_2015 CAMEO_DEUG_2015 CAMEO_INTL_2015  \
0                  1A               1              13
1                 NaN             NaN             NaN
2                  5D               5              34
3                  4C               4              24
4                  7B               7              41
5                  5D               5              34
6                  3B               3              23
7                  1D               1              15
8                  9E               9              55
9                  1D               1              15
10                NaN             NaN             NaN
11                 2D               2              14
12                 4A               4              22
13                 6B               6              43
14                 9D               9              51
15                 1D               1              15
16                 1D               1              15
17                 2D               2              14
18                 8B               8              41
19                 4C               4              24
20                 5C               5              33
21                 6B               6              43
22                 4C               4              24
23                 9C               9              51
24                 5C               5              33
25                 4A               4              22
26                 4E               4              25
27                 6C               6              44
28                 8C               8              54
29                 8A               8              51
...               ...             ...             ...
191622             6B               6              43
191623             2C               2              14
191624             7C               7              54
191625             3D               3              25
191626             4C               4              24
191627             8D               8              55
191628             4A               4              22
191629             9E               9              55
191630             8A               8              51
191631             6C               6              44
191632             2D               2              14
191633             2C               2              14
191634             5C               5              33
191635             6E               6              45
191636             5D               5              34
191637             3D               3              25
191638             9A               9              52
191639             4A               4              22
191640             1E               1              15
191641             2C               2              14
191642             8D               8              55
191643             1D               1              15
191644             8B               8              41
191645             6B               6              43
191646             1C               1              14
191647             1C               1              14
191648             5B               5              32
191649             4D               4              24
191650             4C               4              24
191651             5C               5              33

       D19_LETZTER_KAUF_BRANCHE        EINGEFUEGT_AM OST_WEST_KZ  \
0                 D19_UNBEKANNT  1992-02-12 00:00:00           W
1              D19_BANKEN_GROSS                  NaN         NaN
2                 D19_UNBEKANNT  1992-02-10 00:00:00           W
3        D19_NAHRUNGSERGAENZUNG  1992-02-10 00:00:00           W
4                    D19_SCHUHE  1992-02-12 00:00:00           W
5                   D19_BUCH_CD  1992-02-10 00:00:00           W
6           D19_DROGERIEARTIKEL  1992-02-10 00:00:00           W
7                  D19_SONSTIGE  1992-02-10 00:00:00           W
8                  D19_SONSTIGE  2004-10-14 00:00:00           W
9                   D19_BUCH_CD  1997-07-14 00:00:00           W
10                  D19_BUCH_CD                  NaN         NaN
11                  D19_TECHNIK  1992-02-10 00:00:00           W
12           D19_VERSICHERUNGEN  1995-08-14 00:00:00           W
13                  D19_BUCH_CD  2007-03-20 00:00:00           W
14             D19_BANKEN_GROSS  1992-02-10 00:00:00           W
15                 D19_SONSTIGE  1992-02-12 00:00:00           W
16                  D19_BUCH_CD  1992-02-10 00:00:00           W
17           D19_VERSICHERUNGEN  1992-02-10 00:00:00           W
18           D19_VERSICHERUNGEN  1992-02-10 00:00:00           W
19                 D19_SONSTIGE  1992-02-12 00:00:00           W
20             D19_TELKO_MOBILE  2005-08-23 00:00:00           W
21                 D19_SONSTIGE  1992-02-12 00:00:00           W
22            D19_VOLLSORTIMENT  1996-07-22 00:00:00           W
23                          NaN  1992-02-12 00:00:00           W
24                D19_HAUS_DEKO  1992-02-10 00:00:00           W
25                   D19_SCHUHE  1996-04-01 00:00:00           W
26                D19_UNBEKANNT  1992-02-10 00:00:00           W
27           D19_VERSICHERUNGEN  1992-02-10 00:00:00           W
28                 D19_SONSTIGE  1992-02-10 00:00:00           W
29                 D19_SONSTIGE  1992-02-10 00:00:00           W
...                         ...                  ...         ...
191622            D19_UNBEKANNT  1992-02-10 00:00:00           W
191623         D19_LEBENSMITTEL  1992-02-10 00:00:00           W
191624       D19_VERSICHERUNGEN  1992-02-12 00:00:00           W
191625            D19_UNBEKANNT  1998-01-12 00:00:00           W
191626             D19_SONSTIGE  2004-10-14 00:00:00           W
191627        D19_BANKEN_DIREKT  1992-02-12 00:00:00           W
191628       D19_BEKLEIDUNG_GEH  1992-02-12 00:00:00           W
191629        D19_SAMMELARTIKEL  1992-02-10 00:00:00           W
191630            D19_UNBEKANNT  1992-02-12 00:00:00           W
191631        D19_SAMMELARTIKEL  1992-02-12 00:00:00           W
191632        D19_VOLLSORTIMENT  1992-02-10 00:00:00           W
191633              D19_BUCH_CD  1992-02-10 00:00:00           W
191634        D19_VOLLSORTIMENT  1995-11-06 00:00:00           W
191635           D19_TELKO_REST  1992-02-10 00:00:00           W
191636             D19_SONSTIGE  1992-02-10 00:00:00           W
191637             D19_SONSTIGE  1992-02-10 00:00:00           W
191638            D19_HAUS_DEKO  1992-02-12 00:00:00           W
191639            D19_HAUS_DEKO  2007-11-20 00:00:00           W
191640              D19_ENERGIE  1992-02-10 00:00:00           W
191641         D19_TELKO_MOBILE  1992-02-10 00:00:00           W
191642            D19_UNBEKANNT  1994-01-28 00:00:00           O
191643      D19_BEKLEIDUNG_REST  1992-02-12 00:00:00           W
191644       D19_BEKLEIDUNG_GEH  1992-02-12 00:00:00           W
191645             D19_SONSTIGE  1992-02-10 00:00:00           W
191646       D19_BEKLEIDUNG_GEH  1993-06-25 00:00:00           W
191647          D19_BANKEN_REST  1992-02-10 00:00:00           W
191648            D19_UNBEKANNT  1997-03-06 00:00:00           W
191649              D19_TECHNIK  1992-02-10 00:00:00           W
191650          D19_BANKEN_REST  1992-02-10 00:00:00           W
191651               D19_SCHUHE  1992-02-12 00:00:00           W

            PRODUCT_GROUP CUSTOMER_GROUP
0       COSMETIC_AND_FOOD    MULTI_BUYER
1                    FOOD   SINGLE_BUYER
2       COSMETIC_AND_FOOD    MULTI_BUYER
3                COSMETIC    MULTI_BUYER
4                    FOOD    MULTI_BUYER
5       COSMETIC_AND_FOOD    MULTI_BUYER
6       COSMETIC_AND_FOOD    MULTI_BUYER
7                    FOOD   SINGLE_BUYER
8                COSMETIC    MULTI_BUYER
9                COSMETIC    MULTI_BUYER
10               COSMETIC    MULTI_BUYER
11                   FOOD   SINGLE_BUYER
12                   FOOD   SINGLE_BUYER
13                   FOOD   SINGLE_BUYER
14      COSMETIC_AND_FOOD    MULTI_BUYER
15      COSMETIC_AND_FOOD    MULTI_BUYER
16               COSMETIC   SINGLE_BUYER
17               COSMETIC    MULTI_BUYER
18               COSMETIC   SINGLE_BUYER
19                   FOOD   SINGLE_BUYER
20                   FOOD   SINGLE_BUYER
21                   FOOD   SINGLE_BUYER
22                   FOOD   SINGLE_BUYER
23               COSMETIC   SINGLE_BUYER
24      COSMETIC_AND_FOOD    MULTI_BUYER
25      COSMETIC_AND_FOOD    MULTI_BUYER
26               COSMETIC    MULTI_BUYER
27               COSMETIC   SINGLE_BUYER
28               COSMETIC    MULTI_BUYER
29                   FOOD   SINGLE_BUYER
...                   ...            ...
191622  COSMETIC_AND_FOOD    MULTI_BUYER
191623  COSMETIC_AND_FOOD    MULTI_BUYER
191624           COSMETIC    MULTI_BUYER
191625               FOOD   SINGLE_BUYER
191626  COSMETIC_AND_FOOD    MULTI_BUYER
191627  COSMETIC_AND_FOOD    MULTI_BUYER
191628           COSMETIC   SINGLE_BUYER
191629           COSMETIC    MULTI_BUYER
191630           COSMETIC   SINGLE_BUYER
191631  COSMETIC_AND_FOOD    MULTI_BUYER
191632               FOOD   SINGLE_BUYER
191633               FOOD   SINGLE_BUYER
191634  COSMETIC_AND_FOOD    MULTI_BUYER
191635  COSMETIC_AND_FOOD    MULTI_BUYER
191636  COSMETIC_AND_FOOD    MULTI_BUYER
191637               FOOD   SINGLE_BUYER
191638  COSMETIC_AND_FOOD    MULTI_BUYER
191639  COSMETIC_AND_FOOD    MULTI_BUYER
191640           COSMETIC   SINGLE_BUYER
191641  COSMETIC_AND_FOOD    MULTI_BUYER
191642               FOOD   SINGLE_BUYER
191643  COSMETIC_AND_FOOD    MULTI_BUYER
191644  COSMETIC_AND_FOOD    MULTI_BUYER
191645  COSMETIC_AND_FOOD    MULTI_BUYER
191646               FOOD   SINGLE_BUYER
191647  COSMETIC_AND_FOOD    MULTI_BUYER
191648           COSMETIC   SINGLE_BUYER
191649  COSMETIC_AND_FOOD    MULTI_BUYER
191650               FOOD   SINGLE_BUYER
191651  COSMETIC_AND_FOOD    MULTI_BUYER

[191652 rows x 8 columns]>

In [18]:
non_num_attributes.isna().sum().sort_values(ascending=False).head()

CAMEO_INTL_2015    50428
CAMEO_DEUG_2015    50428
CAMEO_DEU_2015     50428
OST_WEST_KZ        49927
EINGEFUEGT_AM      49927
dtype: int64

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

## Part 3: Kaggle Competition

Now that you've created a model to predict which individuals are most likely to respond to a mailout campaign, it's time to test that model in competition through Kaggle. If you click on the link [here](http://www.kaggle.com/t/21e6d45d4c574c7fa2d868f0e8c83140), you'll be taken to the competition page where, if you have a Kaggle account, you can enter. If you're one of the top performers, you may have the chance to be contacted by a hiring manager from Arvato or Bertelsmann for an interview!

Your entry to the competition should be a CSV file with two columns. The first column should be a copy of "LNR", which acts as an ID number for each individual in the "TEST" partition. The second column, "RESPONSE", should be some measure of how likely each individual became a customer – this might not be a straightforward probability. As you should have found in Part 2, there is a large output class imbalance, where most individuals did not respond to the mailout. Thus, predicting individual classes and using accuracy does not seem to be an appropriate performance evaluation method. Instead, the competition will be using AUC to evaluate performance. The exact values of the "RESPONSE" column do not matter as much: only that the higher values try to capture as many of the actual customers as possible, early in the ROC curve sweep.

In [ ]:
mailout_test = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TEST.csv', sep=';')